<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What do you need to do?">
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com", target: '_blank' %>
  application, built by <%= link_to 'Lulu Li', 'http://github.com/lalalilu', target: '_blank' %>
</section>
